
    <div class="threCol">
      <div class="cc1">
        <%= link_to get_image(comment_on_design.user,'user','thumb','nobrd'),my_page_path(:user_id => comment_on_design.user.id) %>
      </div>
      <div class="cc4">
        <%= link_to get_name(comment_on_design.user.login),my_page_path(:user_id => comment_on_design.user.id)%>
        has commented on 
        <%= link_to get_name(comment_on_design.design.name,120),{:controller=>:designs, :action => :design,:permalink => comment_on_design.design.permalink} ,:class=>"commname"%>
        <br />
      <%= time_ago(comment_on_design.created_at) %>        
      </div>
    </div>
<p class="clear"></p>