<%=render :partial=>"comment_on_design", :collection => @comment_on_designs %>
<div id="more_design_comments_link">
  <p class="spacer03">
    <span class="grnbtn02">
      <%= link_to_remote "Show More",    :url => { :action => "show_more_comments", :offset => @offset }, :before => "$('#spinner_show').show()", :complete => "destroyDiv('more_design_comments_link')",:class=>"grnbtn"%>
    </span>
    <span> <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner_show",:style=>"display:none; width: 16px; margin-top: 0px;" ) %> </span>
  </p>
</div>