<div class="content">
    	<!-- Left Col Start -->
      <div class="c1">
        <!-- Set Priority File Include -->
         
        <div class="clear"></div>
            <!-- Blue Box start -->
            <div><code>$(this).corner();</code>
                <div class="whiteBoxContent"   style="height:500px;">
                <!-- Group Start -->
                    
                 
                 
                <p class="spacer01">&nbsp;</p>
                <div style="padding:100px;">
                  <h1> <p class="txt" style="text:align:center;"> Sorry, <%=h @user.login.capitalize%> has disabled public viewing of this information. </p></h1>
                </div>
                
                <div class="clear"></div>
                
                <!-- Group End -->
                
                </div>
            </div>
            <!-- Blue Box end -->
			<div class="spacer"></div>
        </div>
    	<!-- Left Col End --> 
    </div>