  <%=render :partial=>"profiles/user_shout", :collection => @user_shouts %>
     <div id="more_shouts_link">
                <p class="spacer03"><span class="grnbtn02"><%= link_to_remote "Show More",    :url => { :action => "show_more_shouts", :offset => @offset }, :before => "$('#spinner_show').show()", :complete => "destroyDiv('more_shouts_link')"%></span>
                           <span> <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner_show",:style=>"display:none; width: 16px; margin-top: 0px;" ) %> </span>
                </p> 
      </div>
