<ul class="admNav">
    <li>
        <a href="/admin/vars">Report</a>
    </li>
 <!--   <li>
        <a href="/admin/vars/report">Chart</a>
    </li> -->
	<li>
        <a href="/admin/vars/new">Add Event</a>
    </li>
</ul>
<div class="spacer01">
</div>
