<ul class="admNav">
    <li>
        <a href="/admin/news">Report</a>
    </li>
     <li>
        <a href="/admin/news/report">Chart</a>
    </li>
    <li>
        <a href="/admin/news/new">Add News</a>
    </li>
    <li>
        <a href="/admin/news/category">Manage Category</a>
    </li>
    <li>
        <a href="/admin/news_rss/">News Rss</a>
    </li>
    <li>
        <a href="/admin/newsletters/">Newsletter</a>
    </li>


</ul>
<div class="spacer01">
</div>
