<%= get_right_panel_banner(@right_banner,'CSWP') %>
<div class="c2 rightcol">

        	<!-- Hot Jobs Div start -->
        	<div class="populargrp">
            	<div class="orangehead">
                	<p class="headtxt">Hot Jobs</p>
			  </div>
				<p class="orgarrow"></p>
                <!-- Right Jobs start -->
                <div class="jobsright">
               	  <a href="Jobs_details.html" class="headlink">Application Engineer – Technical Support</a><br />
                    (Delhi, DL of SolidWorks)<br />
                	Experience 2- 5 years
                </div>
                <div class="jobsright">
               	  <a href="Jobs_details.html" class="headlink">Manager - Technical Sales</a><br />
                    (Delhi, DL of SolidWorks)<br />
                	Experience 2- 5 years
                </div>
                <div class="jobsright">
               	  <a href="Jobs_details.html" class="headlink">Application Engineer – Technical Support</a><br />
                    (Delhi, DL of SolidWorks)<br />
                	Experience 2- 5 years
                </div>
                <div class="jobsright">
               	  <a href="Jobs_details.html" class="headlink">Manager - Technical Sales</a><br />
                    (Delhi, DL of SolidWorks)<br />
                	Experience 2- 5 years
                </div>
                <div class="jobsright">
                	<a href="#" class="headlink">Application Engineer – Technical Support</a><br />
                    (Delhi, DL of SolidWorks)<br />
                	Experience 2- 5 years
                </div>
                <div class="jobsright">
               	  <a href="Jobs_details.html" class="headlink">Manager - Technical Sales</a><br />
                    (Delhi, DL of SolidWorks)<br />
                	Experience 2- 5 years
                </div>
                <!-- Right Jobs end -->
            </div>
        	<!-- Hot Jobs Div end -->
			<div class="clear"></div>
        </div>
    	<!-- Right Col End -->
<%= get_right_panel_banner(@right_banner,'CSWP','Bottom') %>