<ul class="admNav">
    <li>
        <a href="/admin/banner">Report</a>
    </li>
    <li>
        <a href="/admin/banner/main">Add Main Banner</a>
    </li>
    <li>
        <a href="/admin/banner/right">Add Right Column Banner</a>
    </li>
</ul>
<div class="spacer01">
</div>
