    <!-- Container Start -->
    <div class="content">
    	<!-- Left Col Start -->
      <div class="c1">
            <!-- Blue Box start -->
            <div class="Blue4pxbox"><code>$(this).corner();</code>
                <div class="whiteBoxContent01">
                	<div class="banner"></div>
					<!-- Left col content start -->
                    <div class="WhBxContent">
                        <!-- Contest01 start -->
                        <div id="contest01">
                        <!-- page heading start -->
                        
                        <div class="pageheading">
                          <div class="c1 head14">Recent <span class="activeContest">Active</span> Contests</div>
                        </div>
                        
                        <p class="spacer01 brdBot01"></p>
                         <p class="spacer01"></p>
                        <h3>Contest One</h3>
                        <p class="spacer01"></p>
                         
				  <div class="pageheading">
							<div class="c1">
                            	<p class="head13"><a href="Recent_Contest_Details.html">Sci-Fi Office Chair Design</a></p>
                            </div>
					<div class="c1 pad5">
                                <p class="txt">
                                	<span class="dateBg">start date:</span> 15 Jan 2010 - <span class="dateBg">closing date:</span> 15 Mar 2010 - <span class="dateBg">results:</span>  20 Mar 2010
                                </p>
                            </div>
				  </div>
                        <!-- page heading end -->
                        <p class="spacer"></p>
                        <div class="txt"><img src="../images/contest01.jpg" width="685" height="175" /></div>
                        <p class="spacer01"></p>
                        <div class="txt01">
                   	  The challenging concept that would beat the reality and innovate the new concept for Sci-Fi Office Chair. The detailing, functionality, various usage and the ultimate comfort would be the prime focus and would be the selling points of the chair. 
				    </div>
                        <div class="fright"><a href="Recent_Contest_Details.html" class="more">more +</a></div>
                  <p class="spacer04"></p>
                        <!-- Scroll Image Start -->
                        <!-- "previous page" action -->
                        <div class="participant"><p class="partici"></p><p class="icolink"><a href="#">Total participants: 21</a></p></div>
                        <p class="spacer"></p>
                        <A class="prevPage browse01 left"></A>
                            <!-- root element for scrollable -->
                            <DIV id="wheeled01" class="scrollable01">
                                <!-- root element for the items -->
                                <DIV class="items01"><!-- 1-5 -->
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb01.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb02.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb03.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb04.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb01.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb02.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb03.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb04.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb01.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb02.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb03.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb04.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                </DIV>
                            </DIV>
                        <!-- "next page" action -->
                        <A class="nextPage browse01 right"></A>
                        <BR clear=all>
                        <!-- javascript coding -->
                        <SCRIPT>
                            // What is $(document).ready ? See: http://flowplayer.org/tools/using.html#document_ready
                            $(document).ready(function() {
                            // initialize scrollable together with the mousewheel plugin
                            $("#wheeled01").scrollable().mousewheel();	
                            });
                        </SCRIPT>
                        <!-- Scroll Image end -->
                        <div class="partibtn"><a href="ParticipateNow.html" onclick="return hs.htmlExpand(this, { objectType:'iframe',outlineType:'rounded-white',width:800,height:725  },'Participate Now' )" id="href_2012748673"></a></div>
	                    <p class="tags"><a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a> <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a>, <a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a></p>
                        
                        <p class="brdDot01"></p>
                        </div>
                        <!-- Contest01 end -->


                        <p class="spacer"></p>
                        <!-- Contest02 start -->
                        <div id="contest02">
                        <!-- page heading start -->
                        <h3>Contest Two</h3>
                        <p class="spacer01"></p>
						<div class="pageheading">
							<div class="c1">
                            	<p class="head13"><a href="Recent_Contest_Details.html">Beetle Car Design</a></p>
                                
                            </div>
						  <div class="c1 pad5">
                                <p class="txt">
                                	<span class="dateBg">start date:</span> 15 Jan 2010 - <span class="dateBg">closing date:</span> 15 Mar 2010 - <span class="dateBg">results:</span>  20 Mar 2010
                                </p>
                            </div>
						</div>
                        <!-- page heading end -->
                        <p class="spacer"></p>
                        <div class="txt"><img src="../images/contest02.jpg" width="687" height="232" /></div>
                        <p class="spacer01"></p>
                        <div class="txt01">
                   	  Added specifications will be considered for additional points for Contest winning. The challenging concept that would beat the reality and innovate the new concept for Sci-Fi Office Chair. The detailing, functionality, various usage and the ultimate comfort would be the prime focus and would be the selling points of the chair.</div>
                      	<div class="fright"><a href="Recent_Contest_Details.html" class="more">more +</a></div>
                        <p class="spacer04"></p>
                        <!-- Scroll Image Start -->
                        <!-- "previous page" action -->
                        <div class="participant"><p class="partici"></p><p class="icolink"><a href="#">Total participants: 21</a></p></div>
                        <p class="spacer"></p>
                        <A class="prevPage browse02 left"></A>
                            <!-- root element for scrollable -->
                            <DIV id="wheeled02" class="scrollable02">
                                <!-- root element for the items -->
                                <DIV class="items02"><!-- 1-5 -->
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb05.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb06.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb07.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb08.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb05.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb06.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb07.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb08.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb05.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb06.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb07.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb08.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                </DIV>
                            </DIV>
                        <!-- "next page" action -->
                        <A class="nextPage browse02 right"></A>
                        <BR clear=all>
                        <!-- javascript coding -->
                        <SCRIPT>
                            // What is $(document).ready ? See: http://flowplayer.org/tools/using.html#document_ready
                            $(document).ready(function() {
                            // initialize scrollable together with the mousewheel plugin
                            $("#wheeled02").scrollable().mousewheel();	
                            });
                        </SCRIPT>
                        <!-- Scroll Image end -->
                        <div class="partibtn"><a href="ParticipateNow.html" onclick="return hs.htmlExpand(this, { objectType:'iframe',outlineType:'rounded-white',width:800,height:725  },'Participate Now' )" id="href_2012748673"></a></div>
	                    <p class="tags"><a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a></p>
                        <p class="spacer01"></p>
                        <p class="brdDot01"></p>
                        </div>
                        <!-- Contest02 end -->
                        <p class="spacer"></p>
                        <!-- Contest03 start -->
                        <div id="contest03">
                        <!-- page heading start -->
                        <div class="pageheading">
                          <div class="c1 head14"><span class="inActiveContest">Inactive</span> Contests</div>
                        </div>
                        <p class="spacer01"></p>
                        <h3>Contest One</h3>
                        <p class="spacer01"></p>
                        
                        <div class="brdBot01"></div>
                        <div class="spacer01"></div>
						<div class="pageheading">
						  <div class="c1">
                            	<p class="head13"><a href="Recent_Contest_Details.html">Sci-Fi Office Chair Design</a></p>
                                
                            </div>
						</div>
                        <!-- page heading end -->
                        <p class="spacer"></p>
                        <div class="txt"><img src="../images/contest01.jpg" width="685" height="175" /></div>
                        <p class="spacer01"></p>
                        <div class="txt01">
                   	  The challenging concept that would beat the reality and innovate the new concept for Sci-Fi Office Chair. The detailing, functionality, various usage and the ultimate comfort would be the prime focus and would be the selling points of the chair. 
				    </div>
                        <div class="fright"><a href="Recent_Contest_Details.html" class="more">more +</a></div>
						<p class="spacer04"></p>
                        <!-- Winner Div start -->
                        <div class="winner">
                        	<div class="winnerrow">
                            	<div class="c1">
                                	<p class="snap"><img src="../images/snap01.gif" width="36" height="36" /></p>
                                </div>
                                <div class="c2">
                                </div>
                                <div class="c3">
                                </div>
                            </div>
                        </div>
                        <!-- Winner Div end -->
                        
                        
                        <!-- Scroll Image Start -->
                        <!-- "previous page" action -->
                        <div class="participant"><p class="partici"></p><p class="icolink"><a href="#">Total participants: 21</a></p></div>
                        <p class="spacer"></p>
                        <A class="prevPage browse01 left"></A>
                            <!-- root element for scrollable -->
                            <DIV id="wheeled01" class="scrollable01">
                                <!-- root element for the items -->
                                <DIV class="items01"><!-- 1-5 -->
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb01.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb02.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb03.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb04.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb01.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb02.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb03.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb04.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb01.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap01.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="My_Page.html">Kamlesh</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb02.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap02.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User03</a>
                                            <br />30 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb03.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap03.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User01</a>
                                            <br />55 mins ago.</span>
                                        </p>
                                    </div>
                                    <div class="contest_img">
                                        <IMG src="../images/contest_thumb04.jpg" class="imgbrd">
                                        <p>
                                            <span class="memimg"><a href="Members_Page.html"><img src="../images/snap04.gif" width="36" height="36" class="imgbrd01" /></a></span>
                                            <span class="meminfo"><a href="Members_Page.html">User05</a>
                                            <br />10 mins ago.</span>
                                        </p>
                                    </div>
                                </DIV>
                            </DIV>
                        <!-- "next page" action -->
                        <A class="nextPage browse01 right"></A>
                        <BR clear=all>
                        <!-- javascript coding -->
                        <SCRIPT>
                            // What is $(document).ready ? See: http://flowplayer.org/tools/using.html#document_ready
                            $(document).ready(function() {
                            // initialize scrollable together with the mousewheel plugin
                            $("#wheeled01").scrollable().mousewheel();	
                            });
                        </SCRIPT>
                        <!-- Scroll Image end -->
                        <div class="resultbtn"><a href="Contest_Results.html"></a></div>
	                    <p class="tags"><a href="#">Sci-Fi</a>, <a href="#">Office Chair</a>, <a href="#">Contest</a></p>
                        <p class="brdDot01"></p>
                        </div>
                        <!-- Contest03 end -->
                        <input type="button" value="Show more Contest" class="grnbtn" />
                    </div>
					<!-- Left col content end -->
                </div>
            </div>
            <!-- Blue Box end -->
			<div class="spacer"></div>
        </div>
    	<!-- Left Col End -->
    	<!-- Right Col Start -->
        <div class="c2 rightcol" id="rightcol_contest">
        </div>
    	<!-- Right Col End -->
    </div>
    <!-- Container End -->