<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css"/>

</head>

<body>
<div id="rules-box">
  <h3><br>
    Design Submission </h3>
  <ol start="1" type="1" class="list">
    <li>To participate,       upload your design images at www.designbetterproducts.in/contest </em>.       The design images should be of one of the following formats:</li>
    <ol start="1" type="a" class="list">
      <li>JPEG        (.jpg)</li>
      <li>GIF        (.gif)</li>
      <li>PNG        (.png)</li>
    </ol>
    <li>Participants would also be required to submit their eDrawing file (.edrw file) for each design at contest@designbetterproducts       
	You can download the viewer from <a href="http://www.solidworks.com/sw/products/free-cad-software-downloads.htm" target="_solidworks">here</a>
	</li>
    <li>With every design entry a       corresponding explanation of the design and the design calculations needs       to be provided.</li>
    <li> For       each design, you may submit up to three rendered images or screen shots       showing various orientations of your design project. Images must be at       least 300 DPI and approximately 2000 X 3000 pixels. The rendered images       must be in JPG, PNG and GIF formats.&nbsp;<br>
      <br>
    </li>
  </ol>
  <h3>Rules for Submission </h3>
  <p>Contest begins Jun 16, 2009 and ends Sep 30, 2009. We must receive your entry by 12:00a.m IST on Sep 30, 2009<em>.</em>&nbsp; For your entry to qualify for  consideration, you must meet the following requirements:<u></u></p>
  <ul class="list">
    <li><strong>Register  on <em>designbetterproducts.in</em></strong>&nbsp; and  fill in your profile details</li>
    <li><strong>Choose</strong> one of the following categories for your entry:</li>
  </ul>
  <div style="padding-left: 25px;">
  <ol style="padding-left: 25px;">
    <li><strong>Aerospace and Defense</strong></li>
    <li><strong>Automotive and Transportation</strong></li>
    <li><strong>Consumer Product Designs</strong></li>
    <li><strong>Design and Engineering Services</strong></li>
    <li><strong>Electronics</strong></li>
    <li><strong>Industrial Machinery</strong></li>
    <li><strong>Medical</strong></li>
    <li><strong>Mold Design</strong></li>
    <li><strong>Oil and Gas</strong></li>
    <li><strong>Packaging</strong></li>
  </ol>
  </div>
  <ul class="list">	
    <li><strong>Upload</strong> at least one (up to 3) design image/s .The following formats will be accepted  for the image/s</li>
  </ul>
  <div style="padding-left: 25px;">
  <ol style="padding-left: 25px;">
    <li>JPEG (.jpg)</li>
    <li>GIF (.gif)</li>
    <li>PNG (.png)</li>
  </ol> 	
  </div>
  <ul class="list">
    <li> Upload the edrawing file</li>
    <li><strong>Provide</strong> a complete description of your entry (up to 150-250 words) as to why the design  should be included in the contest&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
  </ul>
  <p>&nbsp;</p>
  <h3>Judging </h3>
  <p>You will be judged on these criteria: &nbsp;&nbsp;</p>
<div style="padding-left: 25px;">
  <ol style="padding-left: 25px;">
    <li>Innovation:  How the design is a step forward (20% weightage)</li>
    <li>Originality:  Uniqueness of the design &nbsp;(20% weightage)</li>
    <li>Design  communication (eDrawings and text explanation) (20% weightage)</li>
    <li>Feasibility  of the Design (eDrawing) (20% weightage)</li>
    <li>Sustainability(20%  weightage)</li>
	</ol> 	
  </div>
  <p>The esteemed panel of judges will  include: <br>
    <br>
  </p>
  <ul class="list">
    <li><strong>Satish Gokhale: </strong></li>
  </ul>
  <p><strong>Satish&nbsp;</strong>is  a product designer trained at the National Institute of Design, Ahmadabad. He  combines design, technology, ergonomics, aesthetics and relevant materials to  create a major impact on capital, medical equipments and electronic  products.&nbsp;<br>
    Recently, Satish received the Industrial Design Excellence Award (IDEA Award).  He was awarded the first &ldquo;Best Indian Designer&rdquo;, instituted by Business world &ndash;  NID for Design Excellence in India. He has been a jury member for several  Design awards across the world including the IDSA, South African Design Award  and the Singapore Design Award.&nbsp;<br>
    <br>
  </p>
  <ul class="list">
    <li><strong>Sridharan Balaiyan</strong>: Director for  Engineering Services at Barry Wehmiller International resources.</li>
  </ul>
  <p>Sridharan has  been an integral part of BWIR since 1996 and has helped to grow the engineering  services group from a team of two to more than 100, creating the largest and  most successful delivery arm within BWIR. Under Sridharan&rsquo;s leadership, the engineering  services team has developed a strong base of service offerings catering to the  industrial machinery, consumer durables, and medical equipment industries in  the manufacturing domain.&nbsp;<br>
    Sridharan holds  a bachelor&rsquo;s degree in engineering and a postgraduate diploma in business  administration. His previous work experience includes specialization in all  stages from conceptualization to commissioning in the material handling and  packaging machinery manufacturing industry.&nbsp;<br>
    <br>
  </p>
  <ul class="list">
    <li><strong>Mr. Ravi Varadarajan</strong>:&nbsp;Country Territory  Technical Manager&nbsp;SolidWorks Corporation &ndash;&nbsp;India</li>
  </ul>
  <p>Ravi Varadarajan  has over 15 years of experience in CAD industry.&nbsp;Prior to joining  SolidWorks he has served companies like LMW, PTC, Rand  Technologies-Singapore&nbsp;and Ranal Software. His job was to primarily train  customers and implement&nbsp;the CAD Software. His role Technical manager in  India&nbsp;involves working closely with the pre sales team and training the  reseller technical team on SolidWorks Products&nbsp;and&nbsp;certifying their  engineers.<br>
    <strong>Winners will be announced </strong>on the community <strong><em><u>designbetterproducts.in</u></em></strong> on or around Oct 15, 2009. Winning designs will be  showcased with due credits, on the community.&nbsp; <strong></strong></p>
  <p>&nbsp;</p>
  <h3>Prizes </h3>
  <p>Winners would be awarded the  following besides SolidWorks recognition:-</p>
	<table>
		<tr>
			<td><img src="../images/hpdesktop.jpg" style="width: 75px; height: 75px;"/></td>
			<td valign="middle" style="font-weight: bold; font-size: 12px;">1st Prize - One HP Workstation</td>
		</tr>
		<tr>
			<td><img src="../images/Fire-Pro.jpg" style="width: 75px; height: 75px;"/></td>
			<td valign="middle" style="font-weight: bold; font-size: 12px;">2nd Prize - One AMD Fire Pro Card</td>
		</tr>
		<tr>
			<td><img src="../images/xbox.jpg" style="width: 75px; height: 75px;"/></td>
			<td valign="middle" style="font-weight: bold; font-size: 12px;">3rd Prize - One Microsoft Xbox 360</td>
		</tr>
 
	</table>
  <p><br>
    <br>
    All qualified entrants will  receive a limited-edition GoGreen@SolidWorks t-shirt or souvenir of equivalent  or greater value.<strong></strong><br>
    <em>* Please review terms and  conditions below.</em></p>
  <p>&nbsp;</p>
  <h3>RESTRICTIONS AND NOTIFICATIONS </h3>
  <ul type="disc">
    <li>The Primary       Sponsor of the <strong>GoGreen@SolidWorks       Contest </strong>(the &quot;Contest&quot;) is , REGUS, Level 1, Trade Center, Bandra Kurla       Complex, Mumbai 400051</li>
    <li>The <strong>Contest </strong>is open to residents of       India only </li>
    <li>The       minimum eligible age for participation is 18 years of age.</li>
  </ul>
  <ul>
    <li>Any mechanical design using SolidWorks will  qualify for this contest. Designs using any other tool will not be considered  for evaluation &nbsp;&nbsp;&nbsp;</li>
  </ul>
  <ul type="disc">
    <li>The       winners will be notified through the SolidWorks India community &ndash;<em><u>designbetterproducts.in</u></em></li>
    <li><strong>For other relevant queries you can       write to us at: </strong>Design Better Products, SolidWorks India Office,       REGUS, Level 1, Trade Center, Bandra Kurla Complex, Mumbai 400051.&nbsp; <strong>Email:</strong> <a href="mailto:admin@designbetterproducts.in">admin@designbetterproducts.in</a><br>
      <br>
    </li>
  </ul>
  <h3>Official  Contest Rules/Terms &amp; Conditions<br>
  </h3>
  <ul type="disc">
    <li><strong>The       entrant may submit multiple different entries to the Contest along with       eDrawings of every entry. </strong><br>
      <br>
    </li>
    <li><strong>Entries       must be submitted electronically as per the instructions on the Entry       Form. </strong><br>
      <br>
    </li>
    <li><strong>Each       entry must be made under a single individual's name. However, that       individual can represent a design team or group.</strong><br>
      <br>
    </li>
    <li><strong>Designs       for products already in commercial production may not be entered </strong><u></u><br>
      <br>
    </li>
  </ul>
  <ul>
    <li><strong>Any mechanical design using SolidWorks will  qualify for this contest. Designs using any other tool will not be considered  for evaluation&nbsp;<br>
      &nbsp;&nbsp; </strong></li>
  </ul>
  <ul type="disc">
    <li><strong><u>All central, state, local,       municipal, income, and other taxes (if any)</u></strong><u> are the sole       responsibility of the winners. </u><br>
      <br>
    </li>
    <li>The       odds of winning will depend on the number of eligible entries. Sponsors       cannot predict the odds of winning as they have no prior knowledge of the       number of entrants who will participate.<br>
    </li>
  </ul>
  <p><strong>Eligibility to win prizes</strong>:  Eligible entrants who submit qualified entries are eligible to receive entry  gifts (limited-edition GoGreen@SolidWorks<strong> </strong>t-shirts or alternate souvenir of equivalent or greater value). <br>
    <br>
  </p>
  <ul>
    <li>Entrants must be <strong>18 years of age</strong> or older. Employees, SolidWorks resellers and their  immediate families of the Primary Sponsor, their parent company, subsidiaries,  representatives, advertising/promotion agencies, and members of judging  organizations are not eligible and prohibited from entering.<br>
      <br>
    </li>
    <li>The Contest &ndash; GoGreen@SolidWorks is valid for  Indian residents only, other than that entries will not be entertained. <br>
      <br>
    </li>
    <li>Entrants grant SolidWorks Software Pvt. Ltd. and  its subsidiaries permission to use information provided in the contest entry  form, such as name, address, and email address, for marketing purposes and  purposes described in the SolidWorks Privacy Policy. Please refer to our Privacy Policy (link) for further information. By  entering, entrants warrant that their entry is an original idea that has not  previously won awards or prizes of monetary value in another contest prior to  entering the GoGreen@SolidWorks contest, that they are authorized by the  owner of the design to enter the design in the contest, and that the design  does not infringe the intellectual or industrial property rights of any third  party. <br>
      <br>
    </li>
    <li>Entrants shall have the option to display all or  part of their entry information on the contest website during the contest  &quot;live&quot; period.&nbsp; If they elect not to do so, their submission  shall be maintained in confidence by the Primary Sponsor until the winners are  announced. Contest Sponsors shall not be liable to an entrant for  commercializing ideas that have been independently developed without the use of  entrant's submission. <br>
      <br>
    </li>
    <li>The entrant or the entrant's company, whichever  applies, retains ownership of the design idea submitted for the Contest <u>but  entry materials become the property of the Primary Sponsor and will not be  acknowledged or returned</u>. Primary Sponsor is not responsible for any  expenses incurred by entrants in connection with participation in the contest.<br>
      <br>
    </li>
    <li>The Primary Sponsor reserves the right to  disqualify entries that are frivolous or fail to meet the entry requirements as  described on this page.<br>
      <br>
    </li>
    <li>The Contest may be terminated at the Primary  Sponsor's sole discretion.<br>
      <br>
    </li>
    <li>Prizes cannot be substituted or redeemed for  cash except at the Primary Sponsor's sole discretion.&nbsp;Sponsors reserve the  right to substitute a prize of equal or greater value if a prize cannot be  awarded as described for any reason.<br>
      <br>
    </li>
    <li>Entrants authorize and approve the use of images  created from entries (e.g. an eDrawing file) provided for use in marketing  materials to be produced by SolidWorks Software Pvt. Ltd. and its assigns,  including use on SolidWorks websites. Entrants are authorized to and do grant  SolidWorks Software Pvt. ltd., Dassault Syst&egrave;mes, their affiliates, and  assigns, the right to use, reproduce, or incorporate in any manner whatsoever  all or any portion of the aforementioned images. Entrants represent and warrant  that the materials are owned by them or their company free and clear of any  liens or claims of any third-party, that they have a legal right to grant the  permission herein given on behalf of themselves, their company, or a third  party, if appropriate. Furthermore, the entrant agrees that he/she, or if the  design is owned by his/her company, that his/her company will indemnify and  hold harmless SolidWorks Software Pvt. Ltd.., Dassault Syst&egrave;mes, their  affiliates, assigns, agents, and employees, against liability should any  third-party claim that the use of the materials by SolidWorks Software Pvt.  Ltd., Dassault Syst&egrave;mes, their affiliates, assigns, agents, and employees,  violates any right of such third party to the materials.<br>
      <br>
    </li>
    <li>Entrants agree to abide by the terms of these  Official Rules and by the decisions of the Primary Sponsor/judges, which are  final and binding on all matters pertaining to this Contest. By entering,  entrants agree to waive any right to claim ambiguity or error in these Official  Rules. Except where prohibited by law, the winners consent to the use of their  name and/or likeness by the Primary Sponsor for advertising and publicity  purposes without further compensation. Each entrant agrees that the Primary  Sponsor and other Sponsors of the Contest and their parent companies, agents,  representatives, affiliates, and employees will have no liability whatsoever  for any injuries, losses, or damages of any kind resulting from his/her  participation in the Contest, or resulting from the acceptance of these prizes.<br>
      <br>
    </li>
    <li>The Primary Sponsor assumes no responsibility  for any problems or technical malfunction of any telephone network or lines,  computer systems, servers, software, Internet service providers, or e-mail  systems; failure of any entry to be received on account of technical problems  or incomplete, late, lost, damaged, illegible or misdirected electronic  communications; or any combination thereof, including damage to entrants' or  anyone else's computer equipment related to or resulting from participation or  downloading of any materials in this Contest. <br>
      <br>
    </li>
    <li>Participation in the Contest constitutes an agreement  by each entrant to be bound by these Official Contest Rules/Terms and  Conditions. Sponsors reserve the right to disqualify persons found tampering  with or otherwise abusing any aspect of this Contest as solely determined by  Sponsors. In the event the Contest is compromised by non-authorized human  intervention, tampering or other causes beyond the reasonable control of  Sponsors that corrupt or impair the administration, security, fairness or  proper operation of the Contest, the Primary Sponsor reserves the right in its  sole discretion to suspend, modify or terminate the Contest. Caution: Any  attempt by an entrant to deliberately damage any website or undermine the  legitimate operation of this Contest is a violation of criminal and civil laws,  and should such an attempt be made, Sponsors reserve the right to seek damages  from any such entrant to the fullest extent permitted by law.<br>
      <br>
    </li>
  </ul>
  <p><strong>LIMITATIONS OF LIABILITY: </strong>By  entering the contest, the entrant agrees that (1) any and all disputes, claims,  and causes of action arising out of or in connection with the contest, or any  prizes awarded, shall be resolved individually without resort to any form of  class action; (2) any claims, judgments and awards shall be limited to actual  out-of-pocket costs incurred, including costs associated with entering the  contest, but in no event attorney's fees; and (3) under no circumstances will  any entrant be permitted to obtain any award for, and entrant hereby waives all  rights to claim, punitive, incidental or consequential damages and any and all  rights to have damages multiplied or otherwise increased and any other damages,  other than damages for actual out-of-pocket expenses. <br>
    <br>
    Neither SolidWorks Software Pvt.  ltd. nor the Primary Sponsor is responsible for any incorrect or inaccurate  information, whether caused by web site users or by any of the equipment or  programming associated with or utilized in the Contest. </p>
  <p>IN NO EVENT WILL SolidWorks  Software Pvt. Ltd., ITS LICENSEES, AND OR THEIR PARENTS, AFFILIATES,  SUBSIDIARIES AND RELATED COMPANIES, THEIR ADVERTISING OR PROMOTION AGENCIES OR  THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, REPRESENTATIVES AND AGENTS, BE  RESPONSIBLE OR LIABLE FOR ANY DAMAGES OR LOSSES OF ANY KIND, INCLUDING DIRECT,  INDIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING FROM ACCESS TO,  OR USE OF, THIS WEBSITE, ELECTRONIC OR COMPUTER MALFUNCTIONS, OR ENTRANT  PARTICIPATION IN THIS CONTEST, EVEN IF SPONSORS HAVE BEEN ADVISED OF THE  POSSIBILITY OF SUCH DAMAGES. <br>
    WITHOUT LIMITING THE FOREGOING,  EVERYTHING PROVIDED FOR THE CONTEST INCLUDING ANY SOFTWARE IS PROVIDED &quot;AS  IS&quot; WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT  NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A  PARTICULAR PURPOSE OR NON-INFRINGEMENT. SOME OF THE ABOVE LIMITATIONS OR  EXCLUSIONS MAY NOT APPLY TO SOME ENTRANTS OR THEIR JURISDICTIONS. </p>
</div>
</body>
</html>
