<div class="twocol01">
  <div class="c1">
    <img src="../images/snap01.gif" width="36" height="36" class="imgbrd" /><br />
    <p><a href="#" class="blue">Kamalesh</a></p>
    <p>Posts: 59</p>
    <p>Registered: 8/30/05</p>
    <p><a href="#" class="orange">Forum Points: 116</a></p>
  </div>
  <div class="c2">
    <p class="head01"><a href="DiscussionLounge_Details.html" class="black02">My Best Car</a><br />
      <span class="head02">Posted: Jan 27, 2009 8:50 PM</span></p>
    <p class="combox"><span class="abuse"></span>
      <a href="/groups/report_abuse" onclick="return hs.htmlExpand(this, { objectType:'iframe',outlineType:'rounded-white',width:450,height:325  },'Report Abuse' )" id="href_2012748673">Report Abuse</a>
    </p>
    <p class="combox"><span class="postcom"></span><a href="#">Reply</a></p>
    <p class="brdBot01"></p>
    <p class="clear"></p>
    <p class="txt">Free demo video library displaying the features and capabilities of SolidWorks software in the areas of Mechanical Design, Design Validation and Simulation, Product Data Management (PDM), and Product Documentation. </p>
  </div>
</div>
<!-- Two col comment end -->
<!-- Two col comment start -->
<div class="twocol01 grybg">
  <div class="c1">
    <img src="../images/snap04.gif" width="36" height="36" class="imgbrd" /><br />
    <p><a href="#" class="blue">User05</a></p>
    <p>Posts: 19</p>
    <p>Registered: 8/21/05</p>
    <p><a href="#" class="orange">Forum Points: 66</a></p>
  </div>
  <div class="c2">
    <p class="head01"><a href="DiscussionLounge_Details.html" class="black02">G0-Green</a><br /><span class="head02">Posted: Jan 31, 2009 10:05 PM in response to: <a href="Members_Page.html"  class="blue">Kamlesh</a></span></p>
    <p class="combox"><span class="abuse"></span><a href="#">Report Abuse</a></p>
    <p class="combox"><span class="postcom"></span><a href="#">Reply</a></p>
    <p class="brdBot01"></p>
    <p class="clear"></p>
    <p class="txt">Free demo video library displaying the features and capabilities of SolidWorks software in the areas of Mechanical Design, Design Validation and Simulation, Product Data Management (PDM), and Product Documentation. <br />Free demo video library displaying the features and capabilities of SolidWorks software in the areas of Mechanical Design, Design Validation and Simulation, Product Data Management (PDM), and Product Documentation.</p>
  </div>
</div>