  <%= render :partial => "redemption", :collection => @redemptions%>
  <div id="more_redemptions_link">
    <p class="spacer03">    
      <span class="grnbtn02">
        <%= link_to_remote "Show More",    :url => { :controller => "users", :action => "get_more_redemptions", :offset => @offset, :user_id => @user.id }  , :before => "$('#spinner_show').show()", :complete => "destroyDiv('more_redemptions_link')"%>
      </span>
      <span> <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner_show",:style=>"display:none; width: 16px; margin-top: 0px;" ) %> </span>
    </p>
  </div>

