
<div class="threCol">
  <div class="cc1"><img src="../images/snap02.gif" width="36" height="36" /></div>
  <div class="cc2"><a href="Members_Page.html" class="blue">User05</a><br />
    5 mins ago</div>
  <div class="cc3"><a href="Members_Page.html">User05</a> has changed his profile.<br />
    <a href="#" class="black">Comment</a></div>
</div>
<div class="threCol">
  <div class="cc1"><img src="../images/snap01.gif" width="36" height="36" /></div>
  <div class="cc2"><a href="Members_Page.html" class="blue">User01</a><br />
    15 mins ago</div>
  <div class="cc3"><a href="Members_Page.html">User05</a> has commented on <a href="Members_Page.html">User06’s</a> profile.<br />
    <a href="#" class="black">Comment</a></div>
</div>
<div class="threCol">
  <div class="cc1"><img src="../images/snap04.gif" width="36" height="36" /></div>
  <div class="cc2"><a href="Members_Page.html" class="blue">User03</a><br />
    63 mins ago</div>
  <div class="cc3"><a href="Members_Page.html">User06</a> has changed her profile picture.<br />
    <a href="#" class="black">Comment</a></div>
</div>
<div class="threCol">
  <div class="cc1"><img src="../images/snap03.gif" width="36" height="36" /></div>
  <div class="cc2"><a href="Members_Page.html" class="blue">User05</a><br />
    182 mins ago</div>
  <div class="cc3"><a href="Members_Page.html">User05</a> participated in contest &quot;Year 2010&quot;<br />
    <a href="#" class="black">Comment</a></div>
</div>