<div class="content">
    <!-- Left Col Start -->
    <div class="c1">
        <!-- Set Priority File Include -->
       <div class="clear">
        </div>
        <!-- Blue Box start -->
        <div class="Blue4pxbox">
            <code>
                $(this).corner();
            </code>
            <div class="whiteBoxContent">
                <!-- static content starts here -->
                <div class="pageheading">
                    <div class=" head14">
                        <a href="/cswp"><strong>What is CSWP/CSWE/CSWA?</strong></a>&nbsp;|&nbsp;<strong>How to take the test?</strong>&nbsp;|&nbsp;<a href="/cswp/hall_of_fame"><strong>Hall of Fame</strong></a>
                    </div>
                    <p class="spacer05">
                    </p>
                    <p class="brdBot01">
                    </p>
                    <p class="spacer05">
                    </p>
                    <p>
                        <strong>Online Testing Process</strong>
                        <br/>
                        All certification testing is done online. The process is as follows:
                        <br/>
                        <br/>
                        <strong>Step 1</strong>: Purchase your exam(s)
                    </p>
                    <p>
                        In order to take an online certification exam you must first visit our <a  target = "_blank" href="http://store6.esellerate.net/store/catalog.aspx?s=STR6391639620&amp;pc="><strong>webstore </strong></a>and make a purchase.    
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        <strong>Step 2</strong>: Take your exam(s) 
                        <br/>
                        Once you've purchased  an online exam, you will receive two emails. One indicating that your  testing account has been created, the other a receipt of your  transaction. To begin your exam, simply download the virtualtester  client as instructed and follow the directions. You will also need the  exact information (login and password) that was supplied in the email  notice.   
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        <strong>Step 3</strong>: Print your certificate(s)
                        <br/>
                        When you  achieve a certification, SolidWorks provides 24-hour access to your  electronic certificates.  Each certified user gets a custom online  account where they can view, download and print their certificates.    
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        <strong>Note</strong>:  
                    </p>
                    <ul>
                        <li>
                            All exam purchases are tied to one email.  If a customer purchases  more than one exam, that person may transfer the credit to another user  when logged into their virtualtester account. 
                        </li>
                        <li>
                            If you experience any difficulty, send a detailed email to <a href="mailto:certification@solidworks.com">certification@solidworks.com</a>. 
                        </li>
                        <li>
                            Allow up to five (5) business days for a resolution.
                        </li>
                    </ul>
                    <p>
                         
                    </p>
                <!--
				    <p>
                        <em>*Login required for access. Full access requires an active Subscription Service contract </em>
                    </p>
					
					-->
                </div>
                <p class="spacer05">
                </p>
                <div class="clear">
                </div>
            </div>
            <!-- static content ends here -->
        </div>
    </div>
    <!-- Blue Box end -->
    <!-- Left Col End -->
    <!-- Right Col Start -->
    <div class="c2 rightcol">
    	<%= render :partial => '/profiles/my_page_links' if logged_in? %>
        <div class="spacer">
        </div>
        <!-- Right Col End -->
    </div>
</div>
