<!-- Wrapper Start --><!-- Header File Include -->
<div class="clear">
</div>
<!-- Profile File Include -->
<div class="clear">
</div>
<!-- Container Start -->
<div class="content">
    <!-- Left Col Start -->
    <div class="c1">
        <!-- Set Priority File Include -->
        <div class="clear">
        </div>
        <!-- Blue Box start -->
        <div class="Blue4pxbox">
            <code>
                $(this).corner();
            </code>
            <div class="whiteBoxContent" style="min-height:300px">
                <!-- static content starts here -->
                <div class="pageheading">
                    <div class="c1 head14">
                        <strong>SolidWorks India Online Community RSS Feeds </strong>
                    </div>
                </div>
                <p class="clear brdBot01">
                </p>
                <p class="spacer">
                </p>
                <p>
                    <strong>Welcome to SolidWorks India Online Community RSS (Really Simple Syndication).</strong>
                </p>
                <br/>
                <p>
                    If you were to pick between coming to SolidWorks India Online Community and letting SolidWorks India Online Community come to you, what would you choose?
                </p>
                <br/>
                <p>
                    For those who prefer the latter, RSS feeds are available free for individuals and non-profit organisations.
                </p>
                <br/>
                <p>
                    RSS/XML feeds can update headlines on your computer software as they change through sections at SolidWorks India Online Community. Design Central, Learning Center, update struck minutes ago. Content can fly to your desktop faster than it takes to say 'What's new?'
                </p>
                <p class="spacer">
                </p>
                <p class="clear brdBot01">
                </p>
                <p class="spacer">
                </p>
                <p class="spacer">
                </p>
                <div class="c1 head14">
                    <a href="/design_rss"><strong>Design Central - RSS </strong></a>
                    <p class="spacer05">
                    </p>
                    <div class="c1 head14">
                        <a href="/learning_rss"><strong>Learning Center - RSS </strong></a>
                    </div>
					 <p class="spacer05">
                    </p>
                    <div class="c1 head14">
                        <a href="/blog/feed/rss"><strong>Blog - RSS </strong></a>
                    </div>
                </div>
                <p class="spacer">
                </p>
                <p class="spacer">
                </p>
                <p>
                    <strong>What do SolidWorks India Online Community RSS feeds do?</strong>
                </p>
                <p class="spacer">
                </p>
                <p>
                    They gather information related to your areas of interest - designs, learnings and deposit them all on your desktop. So, in effect, if you don't stop by the site, the designs pretty much pay your PC a visit. 
                </p>
                <p class="spacer">
                </p>
                <div class="clear">
                </div>
                <!-- static content ends here -->
            </div>
        </div>
        <!-- Blue Box end -->
        <div class="spacer">
        </div>
    </div>
    <!-- Left Col End -->
    <!-- Right Col Start -->
    <div class="c2 rightcol">
        <!-- Discussion Div start -->
        <!-- Discussion Div end -->
        <div class="clear">
        </div>
        <!-- Design Central Div start -->
        <div class ="<%= cycle('cBoxblue','cBoxorange','cBoxgreen') %>">
            <div class="cBoxhead">
                <p class="headtxt">
                    Design Central
                </p>
            </div>
            <div class="cBoxcontainer">
                <!-- Two col start -->
                <div class="twcol">
                    Share your designs and exchange comments, feedbacks from Experts and Community Users
                </div>
                <!-- Two col end -->
                <p class = "spacer01">
                </p>
            </div>
        </div>
        <!-- Design Central Div end -->
        <div class="clear">
        </div>
        <!-- Learning Central Div start -->
        <div class ="<%= cycle('cBoxblue','cBoxorange','cBoxgreen') %>">
            <div class="cBoxhead">
                <p class="headtxt">
                    Learning Central
                </p>
            </div>
            <div class="cBoxcontainer">
                <!-- Two col start -->
                <div class="twcol">
                    Find the Tutorials, Learning Materials. You can also request a Materials or Tutorials here.
                </div>
                <!-- Two col end -->
                <p class = "spacer01">
                </p>
            </div>
        </div>
        <!-- Learning Central Div end -->
        <div class="clear">
        </div>
        <!-- Contest Div start -->
        <!-- Contest Div end -->
        <div class="clear">
        </div>
    </div>
    <!-- Right Col End -->
</div>
<!-- Container End -->
