
   
            <!-- Wrapper Start -->
                <!-- Header File Include -->
                <div class="clear">
                </div>
                <!-- Profile File Include -->
                <div class="clear">
                </div>
                <!-- Container Start -->
                <div class="content">
                    <!-- Left Col Start -->
                    <div class="c1">
                        <!-- Set Priority File Include -->
                        <div class="clear">
                        </div>
                        <!-- Blue Box start -->
                        <div class="Blue4pxbox">
                            <code>
                                $(this).corner();
                            </code>
                            <div class="whiteBoxContent">
                               <!-- static content starts here -->
                                <div class="pageheading">
                                    <div class="c1 head14">
                                        <strong>About Us </strong>
                                    </div>
								 </div>
                                    <p class="clear brdBot01"></p>
									<p class="spacer05"></p>
                                     <h2 class="head">About www.designbetterproducts.in</h2>
                                    <p>&nbsp;</p>
                                    <p>Innovate, ideate, discuss, learn, know, share, play and much more with  your fellow engineers and designers working towards designing better  products. <br />
                                      <br />
                                      The SolidWorks India Community is a place for passionate designers  so if you?re interested in pursuing a little professional development,  becoming more efficient using SolidWorks®, or seeking experienced  advice from others in your industry, this is where you'll find answers  and meet other SolidWorks users. <br />
                                      <br />
                                    The Design central, Discussion Lounge, Tips n Tricks, Learning  Centre, Games &amp; Contests, etc and the company of likeminded  individuals will keep you informed, inspired and equipped to draw out  that next spark of innovation!</p>
                                    <p class = "clear" >&nbsp;</p>



                                <p class="brdDot01"> </p>
                                <p class="spacer05"></p>
                                <h2 class="head">About SolidWorks</h2>
								<p>&nbsp;</p>
								<h2 class="head">Company Profile:</h2>
								<p class="spacer"></p>
                                <p>Dassault Systemes SolidWorks Corp. is the leader in 3D CAD technology. At SolidWorks we're dedicated to providing engineers, designers and other creative professionals with the tools they need to design the world's greatest products.</p>
								<p>&nbsp;</p>

								<h2 class="head">Founded</h2>
								<p class="spacer"></p>
								<p>December 1993</p>
								<p>&nbsp;</p>
								

								<h2 class="head">Headquarters</h2>
								<p class="spacer"></p>
								<p>Concord, Massachusetts, USA</p>
								<p>&nbsp;</p>

								<h2 class="head">Ownership</h2>
								<p class="spacer"></p>
								<p>Acquired in 1997 by Dassault Systemes S.A.* based in Velizy, France the world's leading developer of product lifecycle management solutions</p>
								<p>&nbsp;</p>

								<h2 class="head">Markets Served</h2>
								<p class="spacer"></p>
								<p>Industrial, medical, scientific, consumer, educational, technology, and transportation s</p>
								<p>&nbsp;</p>

								<h2 class="head">Customers</h2>
								<p class="spacer"></p>
								<p>More than 750,000 product designers and engineers worldwide</p>


                                <p class="spacer">
                                </p>
                                <p class="brdDot01">
                                </p>


                                <div class="clear">
                                </div>
                                <!-- static content ends here -->
                            </div>
                        </div>
                        <!-- Blue Box end -->
                        <div class="spacer">
                        </div>
                    </div>
                    <!-- Left Col End -->
                    <!-- Right Col Start -->
                    <div class="c2 rightcol">
                        <!-- My Page Links Include -->
                    </div>
                    <!-- Right Col End -->
                </div>
                <!-- Container End -->
                