<ul class="admNav">
    <li>
        <a href="/admin/groups">Report</a>
    </li>
     <li>
        <a href="/admin/groups/report">Chart</a>
    </li>
    <li>
        <a href="/admin/groups/category">Manage Category</a>
    </li>
</ul>
<div class="spacer01">
</div>
