<div class="header">
    	<div class="logo"><a href="/admin"></a></div>
		<!-- Login Start -->
        <div class="logout"><code>$(this).corner("br bl</code>
	        <p class="txt14">Welcome to Admin Panel</p>
            <p class="txt11"> &nbsp;</p>
            <p class="loginbtn">
              <a class="ovalbutton" href="/logout?id=admin" onclick=""><span>Logout</span></a></p>
        <p class="clear"></p>
        </div>
		<!-- Login Start -->
    </div>
	<!-- Logo Header End -->

	<%=render :partial=>"layouts/admin_header_links" if current_user.user_type == 0 %>